.div{
    border: 3px solid rgb(172, 172, 172);
    background-color: rgb(220, 220, 220);
}
.input{
    border: none;
    padding: 12px;
    background-color:rgb(232, 232, 232);
    margin: .8rem;
}
.button{
    border: none;
    background-color: rgb(220, 220, 220);
    margin: .8rem;
    padding:11px;
}
.image{
    margin-top: 1rem;
}